<div class="h-100 d-flex align-items-center justify-content-center bg-light">
    <div class="my-card w-25">
        <div class="my-card__header bg--blue-grey txt--white text-center">
            Welcome to my website ! <br>
            Sign in please !
        </div>
        <div class="my-card__body border">
            <div class="form__group">
                <label for="" class="form__label">Username</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control">
                </div>
              </div>
              <div class="form__group">
                <label for="" class="form__label">Password</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
              </div>
        </div>

        <div class="my-card__footer border">
            <button class="bt bt--green w-100 mb-3">Sign in</button>
            <button class="bt bt--link w-100">Mot de passe oublié ?</button>
        </div>
    </div>
</div>