<div class="h-100 d-flex align-items-center justify-content-center bg-light">
    <div class="my-card w-25">
        <div class="my-card__header bg--blue-grey txt--white text-center w3-animate-top">
            Bienvenue sur mon site ! <br>
            Connectez-vous
        </div>
        <div class="my-card__body border w3-animate-zoom">
            <div class="form__group">
                <label for="" class="form__label">Nom d'utilisateur <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control">
                </div>
              </div>
              <div class="form__group">
                <label for="" class="form__label">Mot de passe <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input type="password" class="form-control">
                    <span class="input-group-text" id="basic-addon1" style="cursor: pointer;">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
              </div>
        </div>

        <div class="my-card__footer border w3-animate-bottom">
            <button class="bt bt--orange w-100 mb-3" routerLink="/dashboard">Connexion</button>
            <button class="bt bt--link w-100">Mot de passe oublié ?</button>
        </div>
    </div>
</div>