<div class="w3-animate-opacity h-100">
    <div class="bg--blue-grey d-flex position-sticky top-0" style="padding-bottom: 7px; z-index: 1;">
        <div class="logo--container d-flex align-items-center mt-1">
            <img src="favicon.ico" alt="logo">
        </div>
        <div class="d-flex align-items-center mt-4">
            <ul class="menu">
                <li class="menu__item">
                    <a routerLink="/dashboard/doc" routerLinkActive="current">
                        <i class="fa fa-book"></i>
                        Documentation
                    </a>
                </li>
                <li class="menu__item">
                    <a routerLink="/dashboard/table" routerLinkActive="current">
                        <i class="fa fa-table"></i>
                        Tableau
                    </a>
                </li>
                <li class="menu__item">
                    <a routerLink="/dashboard/forms" routerLinkActive="current">
                        <i class="fa fa-box"></i>
                        Formulaire
                    </a>
                </li>
                <li class="menu__item">
                    <a routerLink="/dashboard/loader" routerLinkActive="current">
                        <i class="fa fa-spinner"></i>
                        Chargement
                    </a>
                </li>
                <li class="menu__item other">
                    <a routerLink="/login" routerLinkActive="current">
                        <i class="fa fa-user"></i>
                        Connexion
                    </a>
                </li>

                <li class="menu__item other">
                    <a routerLink="/register" routerLinkActive="current">
                        <i class="fa fa-registered"></i>
                        Inscription
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="container pt-3" style="padding-bottom: 5rem;">
        <router-outlet></router-outlet>
    </div>

    <div class="p-2 border-top bg-light position-fixed bottom-0 w-100 d-flex">
        <div>
            <button class="bt bt__outline--disabled py-1">
                <i class="fa fa-power-off"></i>
            </button>
        </div>

        <div class="m-auto">
            <small class="txt--disabled">&copy;My Template @2023</small>
        </div>
    </div>
</div>